<h1> Sfida altri giocatori </h1>
  <table class="table">
    <% @players.each do |player| %>
        <% unless player.email == current_user.email %>
          <tr>
            <td><%= link_to("Sfida!!", manage_matches_generate_match_path(player_id: player.id), class: "btn btn-link") %></td>
            <td><%= player.email %></td>
          <% end %>
        </tr>
  <% end %>
  </table>
<a href="<%= welcome_index_path %>">Torna indietro</a>