<!DOCTYPE html>
<body>
  <h1>Scegli il tuo segno</h1>
  <%= form_tag( play_index_path, :method => "get") do %>
    <% @games.each do |game| %>
      <%= submit_tag game.first.to_s, :type => 'submit', choise: game %>
      <div></div>
    <% end %>
    <%= submit_tag "Nuova Partita", :type => 'submit'%>
  <% end %>
  <% if session[:winner] != nil %>
    <%session[:winner].split('-').each do |stringa| %>
      <% p stringa %>
      <p><%= stringa %></p>
    <% end %>
  <% end %>
</body>
