<h1>Benvenuto</h1>
<h3>Al gioco sasso, carta, forbici</h3>
<div class="btn-group-vertical">
<%= link_to 'Singleplayer', play_singleplayer_path(), :class => "btn btn-primary btn-block" %>
<%= link_to('Sfida un giocatore',game_count_challange_players_path , :class =>"btn btn-primary") %>
<%= link_to('Guarda le partite in corso',game_count_display_path , :class =>"btn btn-primary") %>
<%= link_to('Cronologia paritite', game_count_show_history_path, :class =>"btn btn-default") %>
