<h1><%= @title %></h1>
<%= link_to "Vai alla partita!!", play_multiplayer_path(match_id: @match), :class => "btn btn-link" %>
<div></div>
<a href="<%= game_count_challange_players_path %>">Torna indietro</a>